<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Forgot Password</h5>
                    <form asp-controller="Sign" asp-action="ForgotPassword" method="POST">
                        <div class="form-floating mb-3">
                            <label class="mb-2">Email address</label>
                            <input type="email" name="Email" class="form-control" placeholder="name@example.com">
                            <span class="text-alert"></span>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-dark btn-login text-uppercase fw-bold w-100 mb-1"
                                type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>