@model NoteApp.WebUI.Models.RegisterModel
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Sign Up</h5>
                    <form asp-controller="Sign" asp-action="Signup" method="POST">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-floating mb-3">
                            <label asp-for="UserName" class="mb-2">Username</label>
                            <input asp-for="UserName" class="form-control" placeholder="Username">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <label asp-for="Email" class="mb-2">Email address</label>
                            <input asp-for="Email" class="form-control" placeholder="name@example.com">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <label asp-for="Password" class="mb-2">Password</label>
                            <input asp-for="Password" class="form-control" placeholder="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <label asp-for="RePassword" class="mb-2">Re-Password</label>
                            <input asp-for="RePassword" class="form-control" placeholder="Re-Password">
                            <span asp-validation-for="RePassword" class="text-danger"></span>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-dark btn-login text-uppercase fw-bold w-100 mb-1"
                                type="submit">Sign
                                Up</button>
                        </div>
                        <div class="w-100 bottom-text">Already have an account? <a href="/sign/login">Log In</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>